<?
/* this file hold configuration options for the various php scripts.
   this must be included in all php files. 

   we're not doign anything special with this data. it's only 
   defining various variables that we will be using. A more advanced 
   config system would be good but this is all we are doing until 
   we get more users/funding
*/

$DB_HOST = "192.168.1.1";
$DB_USERNAME = "testrig";
$DB_PASSWORD = "somethingsomething";
$DB_NAME = "testrig";
$RECAPTCHA_SITE_KEY="get_this_from_google";
$RECAPTCHA_SECRET_KEY="get_this_from_google";
