	#container-isolist {
		box-shadow: 0 0 30px black;
		padding-top: 20px;
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 20px;

	 }

	.main-panels {
		box-shadow: 0 0 30px black;
                padding-top: 20px;
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 20px;

	 }

	#container-admin {

	 }

	body {
  		padding-top: 50px;
	 }

	.starter-template {
		padding: 50px 15px;
	 }

	.isoList {
		padding: 20px 15px;
		overflow-x: scroll;
		overflow-y: scroll;
	 }


	#contactInformation {

		box-shadow: 0 0 30px black;
                padding-top: 20px;
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 20px;

	}

	#loginSection {

                box-shadow: 0 0 30px black;
                padding-top: 20px;
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 20px;

        }

	.tooltip {
	    position: relative;
	    display: inline-block;
	    border-bottom: 1px dotted black;
	}

	.tooltip .tooltiptext {
	    visibility: hidden;
	    width: 120px;
	    background-color: #555;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
	    padding: 5px 0;
	    position: absolute;
	    z-index: 1;
	    bottom: 125%;
	    left: 50%;
	    margin-left: -60px;
	    opacity: 0;
	    transition: opacity 0.3s;
	}

	.tooltip .tooltiptext::after {
	    content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #555 transparent transparent transparent;
	}

	.tooltip:hover .tooltiptext {
	    visibility: visible;
	    opacity: 1;